<div class="col s12">
  <div class="row">

    <h3>{{ title }}</h3>
    <form autocomplete="off" @submit.prevent="save">
      <div class="input-field col s12">
        <input v-model="course.name" id="name" type="text">
      </div>
      <button type="submit" class="waves-effect waves-light btn">Salvar</button>
      <button @click="cancel()" type="button" class="waves-effect waves-light btn">Voltar</button>
    </form>
  </div>
</div>
