<div class="col s12">
  <div class="row">

    <h3>{{ title }}</h3>

    <div class="input-field col s12">
      <input v-model="course.name" id="name" type="text" placeholder="Digite o nome do curso">
    </div>
  </div>

  <button @click="save(course.id)" type="button" class="waves-effect waves-light btn">Salvar</button>
  <button @click="remove(course.id)" type="button" class="waves-effect waves-light btn red">Excluir</button>
  <button @click="cancel()" type="button" class="waves-effect waves-light btn">Voltar</button>
</div>
