<template>
  <div>
    <div>
      <table>
        <thead>
        <tr>
          <th>Nome</th>
          <th width="25%">Ações</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="course in courses.data" :key="course.id">
            <td>{{ course.name }}</td>
            <td>
              <button @click="goTo(course.id)" type="button" class="waves-effect waves-light btn">Editar</button>
              <button @click="remove(course.id)" type="button" class="waves-effect waves-light btn red">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top: 30px;">
      <a href="#/courses/create" class="waves-effect waves-light btn">Cadastrar novo curso</a>
      <a @click="reload" class="waves-effect waves-light btn deep-purple darken-4"> Atualizar lista</a>
    </div>

    <hr>
    <a href="#/students" class="waves-effect waves-light btn light-blue darken-2">Ir para estudantes</a>
  </div>
</template>

<script>
export default {
  name: 'courses',
  methods: {
    goTo: function (id) {
      this.$router.push('/courses/' + id)
    },
    reload: function () {
      location.reload()
    },
    remove: function (id) {
      this.$store.dispatch('deleteCourse', id)
        .then(() => {
          this.$store.dispatch('getCourses')
        })
    }
  },
  computed: {
    courses () {
      return this.$store.state.course.courseIndex
    }
  },
  created () {
    this.$store.dispatch('getCourses')
  }
}
</script>
