<template>
  <!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="app">
      <div class="container">
          <div class="row">
            <router-view></router-view>
          </div>
      </div>
    </div>
  </body>
</html>
</template>

<script>
export default {
  name: 'App',
  styles: [
    require('materialize-css/dist/css/materialize.min.css'),
    require('ionicons/dist/css/ionicons.css')
  ]
}
</script>

<style>
html {
  background: #f5f5f5;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
hr {
  border-top: 1px solid #e4e4e4;
  margin: 40px 0;
}
</style>
