<div class="col s12">
  <div class="row">

    <h3>{{ title }}</h3>

    <form autocomplete="off" @submit.prevent="save">
      <div class="input-field col s6">
        <input v-model="student.name" id="name" type="text" placeholder="Nome do aluno">
      </div>

      <div class="input-field col s6">
        <select v-model="student.course_id" id="course_id" class="browser-default">
          <option value="" disabled selected>Selecione uma das opções</option>
          <option v-for="course in courses.data" :value="course.id">{{ course.name }}</option>
        </select>
      </div>
    <div class="input-field col s12">
      <button type="submit" class="waves-effect waves-light btn">Salvar</button>
      <button @click="cancel()" type="button" class="waves-effect waves-light btn">Voltar</button>
    </div>
  </form>
  </div>
</div>
