<div class="col s12">
  <div class="row">

    <h3>{{ title + student.name }}</h3>

    <div class="input-field col s6">
      <input v-model="student.name" id="name" type="text">
    </div>

    <div class="input-field col s6">
      <select v-model="student.course_id" class="browser-default">
        <option v-for="course in courses.data" :value="course.id">{{ course.name }}</option>
      </select>
    </div>
  </div>

  <button @click="save(student.id)" type="button" class="waves-effect waves-light btn">Salvar</button>
  <button @click="remove(student.id)" type="button" class="waves-effect waves-light btn  red">Excluir</button>
  <button @click="cancel()" type="button" class="waves-effect waves-light btn">Voltar</button>
</div>
