<template>
  <div>
    <div>
      <div class="input-field col s12">
        <input @change="search(searchTerm)" v-model="searchTerm" id="name" type="text" placeholder="Digite o nome do aluno" class="validate">
        <a class="waves-effect waves-light btn">Buscar</a>
      </div>
      <div class="col s12">
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <td>Curso</td>
            <th width="25%">Ações</th>
          </tr>
          </thead>
          <tbody>
            <tr v-for="student in students.data" :key="student.id">
              <td>#{{ student.id }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.course.name }}</td>
              <td>
                <button @click="goTo(student.id)" type="button" class="waves-effect waves-light btn">Editar</button>
                <button @click="remove(student.id)" type="button" class="waves-effect waves-light btn red">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin-top: 30px;">
      <a href="#/students/create" class="waves-effect waves-light btn">Cadastrar novo estudante</a>
      <a @click="reload" class="waves-effect waves-light btn deep-purple darken-4"> Atualizar lista</a>
    </div>
    <hr>
    <a href="#/courses" class="waves-effect waves-light btn light-blue darken-2">Ir para cursos</a>
  </div>
</template>

<script>
export default {
  name: 'students',
  data: function () {
    return {
      searchTerm: ''
    }
  },
  methods: {
    goTo: function (id) {
      this.$router.push('/students/' + id)
    },
    search: function (term) {
      this.$store.dispatch('getStudentsSearch', term)
    },
    reload: function () {
      location.reload()
    },
    remove: function (id) {
      this.$store.dispatch('deleteStudent', id)
        .then(() => {
          this.$store.dispatch('getStudentsSearch')
        })
    }
  },
  computed: {
    students () {
      return this.$store.state.student.studentSearch
    }
  },
  created () {
    this.$store.dispatch('getStudentsSearch')
  }
}
</script>

<style>
table {
  margin: 30px 0 20px;
}
</style>
